body{
    background-image: url("/image/undraw_compose_music_ovo2.svg");
}
.alpha{
padding: 2rem 2rem;
margin: 2rem 1rem;
width: auto;
height: auto;
font-size: xx-large;
border-radius: 0.5rem;
opacity: 80%;
}

.divStyle{
text-align: center;
padding-top: 20rem;
padding-bottom: 18rem;
}


footer {
    text-align: center;
    bottom: 0;
    left: 0;
    right: 0;
    position: relative;
  }
  
  .footer-h {
    font-size: large;
    text-align: center;
    padding: 1rem;
    padding-inline-start: 0px;
  }
  
  .footer-list {
    margin: 1rem;
  }